#playerContainer
{
	background-color: green;
}

#fighterName
{
	float: left;
}

#fighterHP
{
	float: left;
}

div .fighter
{
	position: relative;
	padding: 1rem;
	text-align: center;
}

.fighter img 
{
	width: 100%;
}

#defenderContainer
{
	background-color: red;
}

#enemiesContainer
{
	background-color: orange;
}

#defeatedContainer
{
	background-color: grey;
}

#gameContainer 
{
	color: white;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

h1
{
	color: white;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}
#messageContainer
{
	font-family: monospace;
	margin: 1rem;
	color: grey;
	width: 40%;
	float: left;
}
#messageContainer h2
{
	padding-bottom: 0.5rem;
}

body
{
	background-color: black;
	padding: 1rem;
}
